.main {
    margin: 0 auto;
    max-width: 500px;
}

.stopsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.stopInfo {
    padding: 10px 5px;
}

.stopInfo:nth-child(2n) {
    background-color: #f0f0f0;
}

.showMoreButton {
    border: 0;
    width: 100%;
    text-align: center;
}