.main {
    margin: 0 auto;
    max-width: 500px;
}

.stopsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.stopInfo {
    padding: 10px 5px;
}

.stopInfo:nth-child(2n+1) {
    background-color: #f0f0f0;
}

.showMoreButton {
    border: 0;
    width: 100%;
    text-align: center;
}

.headerH1 {
    font-size: 24px;
    margin: 10px 0 0 0;
}

.headerH2 {
    font-size: 14px;
    color: #555;
    margin: 0;
}