.main {
    margin: 0 auto;
    max-width: 500px;
}

.stopsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.stopInfo {
    padding: 10px;
}

.stopInfo:nth-child(2n+1) {
    background-color: #f0f0f0;
}

.showMoreButton {
    border: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
    padding: 5px;
}

/* header */
.header {
    position: relative;
    margin: 10px;
}

.headerH1 {
    font-size: 24px;
    margin: 0;
}

.headerH2 {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.filterButton {
    position: absolute;
    font-size: 32px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.filterBox {
    position: relative;
}

.filterInput {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    margin: 10px 0;
    padding-right: 30px;
}

.clearFilterButton {
    position: absolute;
    font-size: 25px;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

/* footer */
.footer {
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
    color: #888;
}